*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.slidecont {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  gap: 2rem;
}

.slider {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.list {
  width: 300px;
  overflow: hidden;
}

.items {
  position: relative;
  display: flex;
  transition: all 0.5s ease-out;
  left: 0px;
}

/* .buttons > button {
  padding: 0.25rem;
} */

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #aaa3;
  color: #ccc;
  border: 1px solid #eee;
}

button:hover {
  background-color: #aaa8;
  color: #fff;
}

button.prev {
  left: 0.5rem;
}

button.next {
  right: 0.5rem;
}

.dots {
  position: absolute;
  bottom: 0.6rem;
  display: flex;
  gap: 1rem;
  list-style: none;
}

.dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  outline: 1px solid #eee;
  outline-offset: 1px;
}

.active .dot {
  background-color: #eee;
}
